@using WebApplication3.Models;
@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="purchase-completed-section container mx-auto my-5 px-2 sm:px-8">
    <div class="flex flex-col items-center gap-2 text-center">
        <div class="max-h-[300px] max-w-[300px]">
            <img class="h-full w-full" src="~/Content/images/svg/purchase-done.svg" alt="purchase completed" />
        </div>
        <h1 class="text-4xl uppercase text-primary-color">
            Purchase Completed
        </h1>
        <p class="text-lg">
            Your purchase has been successful, you can see the
            <a class="underlined-animated text-primary-color after:bottom-0" href="#!">details of your purchase here</a>.
        </p>
        <p class="text-lg">
            We have sent the confirmation of your purchase to the email registered
            in your account.
        </p>
        @if (Session["UserId"] != null)
        {
            Account a = (Account)Session["UserId"];
            <a class="btn-effect rounded-lg bg-primary-color p-2 font-bold uppercase text-white" href="@Url.Action("Index", "Home", new {code=a.AccountCode})">
                <span>Go Back Home</span>
            </a>
        }
        else
        {
            <a class="btn-effect rounded-lg bg-primary-color p-2 font-bold uppercase text-white" href="@Url.Action("Index", "Home")">
                <span>Go Back Home</span>
            </a>
        }
    </div>
</div>

